$light-blue-grey: #d3e0ea;
$subtitle-gray: #919191;
$darker-gray: #484848;
$global-weight-medium: 500;
$app-min-width: 960px;
$header-height: rem-calc(44);
$subHeader-height: rem-calc(50);
$task-border-width: 5px;
$task-border-radius: 2px 0 0 2px;
$task-table-due-date-padding: 4px 22px;
$task-table-row-height: 75px;
$task-table-due-date-cell-width: 92px;
$tasks-list-submitted-btn-height: $subHeader-height;
$submitted-card-header-padding: 8px 36px;
$submitted-icon-padding: 12px 10px 0;
$submitted-header-text-padding: 16px 0 12px;
$tasks-panel-table-padding: 0 14px;
$task-submitted-btn-padding: 4px;
$task-submitted-btn-margin: 9px 0;
$task-submitted-btn-width: 106px;
$task-icon-submitted-check-color: #84a8c3;
$task-icon-submitted-color: #7c7c7c;
$pagination-icon-enabled: #2f75d8;
$pagination-icon-disabled: #666666;
$lighter-blue1: #f3f8fd;
$lighter-blue2: #a6c7e8;
$lighter-blue: #dde9f5;
$lighter-green: #aac6aa;
$light-green: #bbdebb;
$medium-green: #228743;
$dark-green: #196532;
$light-red: #d1bbbb;
$medium-red: #cd463c;
$dark-red: #a43830;
$primary-blue: #3179b1;
$medium-blue: #4a90e2;
$dark-medium-blue: #2f75d6;
$bright-dark-blue: #2466c2;
$dark-blue: #205bac;
$activity-guide-confirmation-modal-height: rem-calc(265);
$activity-guide-confirmation-modal-width: rem-calc(720);
$medium-blue1: #d1e1f1;
$medium-blue2: #bbd4ec;
$icon-size: rem-calc(10);
$font-size-13: rem-calc(13);
$font-size-14: rem-calc(14);
$font-size-48: rem-calc(48);
$medium-gray1: #ebebeb;
$medium-gray2: #e8e8e8;
$medium-gray3: #4d4d4d;
$medium-gray4: #808184;
$medium-gray5: #707070;
$dark-black: #333333;
$medium-gray-font-color: #626262;
$font-size-22: rem-calc(22);
$activity-guide-border-width: 7px;
$submit-task-border-bottom: 1px solid $medium-blue1;
$shadow-gray-10: 0 0 4px 0 rgba(0, 0, 0, 0.09);
$shadow-gray-20: 0 0 8px 0 rgba(0, 0, 0, 0.2);
$input-background-error: lighten($dark-red, 45%);
$table-border: 1px solid rgba($dark-black, 0.15);
